.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 20px;
}

input {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #005ea3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

li:hover {
  transform: translateY(-5px);
}

h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  border-radius: 50%;
}

.ingredientsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredientItem {
  margin-bottom: 0.5rem;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  width: 600px;
}

.instructions {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.instructions li:hover {
  transform: none;
}
